@import url('https://fonts.googleapis.com/css?family=Pangolin&display=swap&subset=cyrillic');

body{
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    font-family: 'Pangolin';
}

a{
    text-decoration: none;
    color: #000000;
}

#header{
    width: 100%;
    background: #F7C00D url('https://www.3mrussia.ru/wps/wcm/connect/f41d2cb7-8813-4af8-b047-2159416d822c/1200x340_Mesh_Header_LightOrange-Yellow.png?MOD=AJPERES&CACHEID=ROOTWORKSPACE-f41d2cb7-8813-4af8-b047-2159416d822c-kKeyosY') no-repeat center top;
    color: #000000;
    align-items: center;
    border-bottom: 2px solid #000000;
}

.header_container{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    
}

.header_container_text{
    font-size: 35px;
}

#main{
    width: 100%;
    height: 797px;
    align-items: center;
    background: #FFD930 url(img/deadpool1.png) no-repeat center top;
}

.main_container{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.main_container__form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.main_container__search-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    border-radius: 5px;
    border: 2px solid #000000;
    min-height: 40px;
}

.search {
    margin-left: 4px;
    border: none;
    outline: none;
    -webkit-appearance: none; 
    vertical-align: middle;
    width: 100%;
    font-family: 'Pangolin';
    font-size: 20px;
    color: #000000;
    background-color: #FFD930;
}

.search::-webkit-search-cancel-button{
    cursor: pointer;
}

.keyboard{
    width: 46px;
    height: 43px;
    border: none;
    background: url(img/keyboard.png) no-repeat;
    background-size: 100%;
    margin-right: 10px;
}

.submit{
    margin-left: 7px;
    margin-right: 7px;
    padding-top: 5px;
    border: 2px solid #000000; 
    background-color: #B11403;
    padding: 14px;
    font-family: 'Pangolin';
    text-transform: uppercase;
    border-radius: 6px;
    transition: all 0.3s ease 0s;
    color: #FFD930;
}

.submit, 
.submit:active, 
.submit:focus,
.keyboard,
.keyboard:active, 
.keyboard:focus {
    outline: none;
}

.submit:hover,
.keyboard:hover{
    cursor: pointer;
}

.search-announcement{
    text-align: center;
    font-size: 24px;
    margin: 0;
    padding-top: 10px;
}

.loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #A489EF;
    box-shadow: 0px 0px 20px rgba(168, 136, 255, 1);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: absolute;
    z-index: 100;
    left: calc(50% - 30px);
    top: calc(50% - 100px);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.swiper-container {
    width: 100%;
    height: 570px;
    margin: 30px auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
}

.swiper-slide:hover{
    -webkit-box-shadow: inset 0px 0px 15px 7px rgba(191,26,6,1);
    -moz-box-shadow: inset 0px 0px 15px 7px rgba(191,26,6,1);
    box-shadow: inset 0px 0px 15px 7px rgba(191,26,6,1);
}

.swiper-slide__name{
    display: block;
    text-decoration: underline;
    height: 29px;
    margin-top: 30px;
}

.swiper-slide__img{
    width: 245px;
    height: 350px;
    border: 1px solid #000000;
    margin-top: 35px;
}

.swiper-slide__rate{
    margin-top: 7px;
}

.swiper-slide__rate::before{
    content: "✩ ";
}

.swiper-container .swiper-button-next{
    right: 0px;
}

.swiper-container .swiper-button-prev{
    left: 0px;
}

#footer{
    width: 100%;
    background: #F7C00D url('https://www.3mrussia.ru/wps/wcm/connect/f41d2cb7-8813-4af8-b047-2159416d822c/1200x340_Mesh_Header_LightOrange-Yellow.png?MOD=AJPERES&CACHEID=ROOTWORKSPACE-f41d2cb7-8813-4af8-b047-2159416d822c-kKeyosY') no-repeat center top;
    color: #000000;
    align-items: center;
    border-top: 2px solid #000000 ;
}

.footer_container{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.footer_container__text,
.footer_container__github-text{
    font-size: 20px;
}

.footer_container__github{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.footer_container__github-icon{
    width: 30px;
    height: 25px;
    background: url(img/github-logo.png) no-repeat;
}

@media (max-width: 374px){
    .swiper-container .swiper-button-next{
        display: none;
    }
    
    .swiper-container .swiper-button-prev{
        display: none;
    }
}